<h2>Cadastro</h2>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div
      *ngIf="
        signupForm.get('email')?.touched && signupForm.get('email')?.errors
      "
    >
      <span *ngIf="signupForm.get('email')?.errors?.['required']"
        >Email é obrigatório.</span
      >
      <span *ngIf="signupForm.get('email')?.errors?.['email']"
        >Email inválido.</span
      >
    </div>
  </div>

  <div>
    <label for="password">Senha:</label>
    <input type="password" id="password" formControlName="password" />
    <div
      *ngIf="
        signupForm.get('password')?.touched &&
        signupForm.get('password')?.errors
      "
    >
      <span *ngIf="signupForm.get('password')?.errors?.['required']"
        >Senha é obrigatória.</span
      >
    </div>
  </div>

  <button type="submit">Cadastrar</button>
  <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
  <p>
    Já tem uma conta?
    <button type="button" (click)="goToLogin()">Entrar</button>
  </p>
</form>
