<h2>Lista de Produtos</h2>

<table *ngIf="products.length > 0" class="product-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Estoque</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <!-- checar se o produto esta sendo editado -->
      <ng-container
        *ngIf="
          selectedProduct && selectedProduct.id === product.id;
          else viewMode
        "
      >
        <td>
          <input
            type="text"
            [(ngModel)]="selectedProduct.name"
            name="name"
            required
          />
          <span class="error" *ngIf="editValidationErrors.name">{{
            editValidationErrors.name
          }}</span>
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="selectedProduct.description"
            name="description"
            required
          />
        </td>
        <td>
          <input
            type="number"
            [(ngModel)]="selectedProduct.price"
            name="price"
            required
          />
          <span class="error" *ngIf="editValidationErrors.price">{{
            editValidationErrors.price
          }}</span>
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="selectedProduct.category"
            name="category"
            required
          />
          <span class="error" *ngIf="editValidationErrors.category">{{
            editValidationErrors.category
          }}</span>
        </td>
        <td>
          <input
            type="number"
            [(ngModel)]="selectedProduct.stock"
            name="stock"
            required
          />
          <span class="error" *ngIf="editValidationErrors.stock">{{
            editValidationErrors.stock
          }}</span>
        </td>
        <td>
          <button (click)="saveProduct()">Salvar</button>
          <button (click)="cancelEdit()">Cancelar</button>
        </td>
      </ng-container>
      <ng-template #viewMode>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency : "BRL" : "symbol" : "1.2-2" }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button (click)="editProduct(product)">Editar</button>
          <button (click)="deleteProduct(product.id)">Excluir</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<p *ngIf="products.length === 0">Nenhum produto encontrado.</p>
