<button class="fab" (click)="openModal()" *ngIf="!showModal">+</button>

<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Criar Produto</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <label>
        Nome:
        <input type="text" [(ngModel)]="product.name" name="name" required />
        <span class="error" *ngIf="validationErrors.name">{{
          validationErrors.name
        }}</span>
      </label>
      <label>
        Descrição:
        <input
          placeholder="opcional"
          type="text"
          [(ngModel)]="product.description"
          name="description"
        />
      </label>
      <label>
        Preço:
        <input
          type="number"
          [(ngModel)]="product.price"
          name="price"
          required
        />
        <span class="error" *ngIf="validationErrors.price">{{
          validationErrors.price
        }}</span>
      </label>
      <label>
        Categoria:
        <input
          type="text"
          [(ngModel)]="product.category"
          name="category"
          required
        />
        <span class="error" *ngIf="validationErrors.category">{{
          validationErrors.category
        }}</span>
      </label>
      <label>
        Estoque:
        <input
          type="number"
          [(ngModel)]="product.stock"
          name="stock"
          required
        />
        <span class="error" *ngIf="validationErrors.stock">{{
          validationErrors.stock
        }}</span>
      </label>
      <div class="modal-actions">
        <button type="submit">Salvar</button>
        <button type="button" class="cancel-btn" (click)="closeModal()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
