<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
    >
      Email inválido
    </div>
  </div>

  <div>
    <label for="password">Senha:</label>
    <input type="password" id="password" formControlName="password" />
    <div
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
    >
      Senha é obrigatória
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Entrar</button>

  <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
</form>
